<div id="sortAndPerPage" class="row" role="navigation" aria-label="<%= t('blacklight.search.per_page.aria_label')%>">
  <div class="col-6">
    <%= render partial: "paginate_compact", object: @response if show_pagination? %>
  </div>
  <div class="col-6">
    <%= render_results_collection_tools wrapping_class: "search-widgets" %>
  </div>
</div>
