.bundle/
log/*.log
pkg/
spec/dummy/db/*.sqlite3
spec/dummy/db/*.sqlite3-journal
spec/dummy/db/log/*.log
spec/dummy/tmp/
spec/dummy/log/*.log
spec/dummy/.sass-cache
Gemfile.lock

.internal_test_app
.idea/