<!DOCTYPE html>
<html>
<head>
  <title>Trln argon</title>
  <%= stylesheet_link_tag    "trln_argon/application", media: "all" %>
  <%= javascript_include_tag "trln_argon/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
