<div id="announcement" role="complementary">

  <div class="feedback-link-wrapper">

    <%= link_to t('trln_argon.feedback.link_text'), TrlnArgon::Engine.configuration.feedback_url, class: "feedback-link", target: "_blank" %>

  </div>

</div>
