<div class="modal-header">
  <h3 class="modal-title"><%= title %></h3>
</div>
<div class="modal-body">
  <% @document.citations.each do |format, citation| %>
    <h4><%= t("trln_argon.citation.#{format}") %></h4>
    <%= citation.html_safe %>
  <% end %>
</div>

