<div class="availability">
  <h3>Availability:</h3>
  <table  width='100%' class='table table-condensed'>
    <!--<caption>Location</caption>-->
    <tbody>

    <tr>
      <th>Location</th>
    </tr>

      <% expanded_availability.each do |institution, doc| %>
        <tr>
          <td><%= t("trln_argon.institution.#{institution}.long_name") %></td>
          <td><%= doc.availability %></td>
          <% if doc.fulltext_urls.any? || doc.findingaid_urls.any? %>
            <td>
              <ul>
              <% doc.fulltext_urls.each do |url| %>
                <li><%= link_to_primary_url(url) %></li>
              <% end %>
              <% doc.findingaid_urls.each do |url| %>
                <li><%= link_to_primary_url(url) %></li>
              <% end %>
              </ul>
            </td>
          <% else %>
            <td></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
