<% if query_has_constraints? %>

      <div id="appliedParams" class="clearfix constraints-container">
        <div class="pull-left">
          <%=link_to t('blacklight.search.start_over_html'), start_over_path, :class => "catalog_startOverLink btn btn-primary btn-sm", :id=>"startOverLink" %>
        </div>
        <span class="constraints-label"><%= t('blacklight.search.filters.title') %></span>
        <%= render_constraints(params) %>
      </div>
<% end %>
