<% if query_has_constraints? %>
  <div id="appliedParams" class="clearfix constraints-container" role="navigation" aria-label="Search Constraints">
    <div class="pull-left">
      <%= link_to t('blacklight.search.start_over_html'), start_over_path, :class => "catalog_startOverLink btn btn-primary btn-sm", :id=>"startOverLink" %>
    </div>
    <div class="pull-left">
      <%= link_to t('blacklight.search.edit_search'), advanced_search_url(params.permit!.except(:controller, :action).to_h), :class => "catalog_editSearchLink btn  btn-default btn-sm", :id=>"editSearchLink" %>
    </div>
    <span class="constraints-label"><%= t('blacklight.search.filters.title') %></span>
    <%= render_constraints(params) %>
  </div>
<% end %>
