<% # container for all documents in index list view -%>
<div id="documents" class="documents-<%= document_index_view_type %>" role="main" aria-labelledby="searchResultsLabel">
  <%= render documents, :as => :document %>
</div>
