<% if display_holdings_well?(document: document) %>

  <div class="items card">
    <div class="row">

      <%= render partial: 'finding_aid_links', locals: { document: document } %>
      <%= render partial: 'fulltext_links', locals: { document: document } %>

      <% if display_items?(document: document) %>
        <%= render partial: 'items_section',
                   locals: { document: document,
                             num_display_items: TrlnArgon::Engine.configuration.number_of_items_index_view.to_f,
                             loc_b_header_level: :h3 } %>
      <% end %>

    </div>
  </div>

<% end %>
