<% display_values = show_configured_fields_and_values(blacklight_config.index_fields, document) %>
<div id="index-document-metadata">
  <% if display_values.any? %>
    <ul>
    <% display_values.each do |values| %>
      <li class="index-metadata <%= values[:field]  %>">
        <%= values[:value] %>
      </li>
    <% end %>
    </ul>
  <% end %>
</div>
