<div class="items">
  <% if document[TrlnArgon::Fields::URL_HREF.to_s] %>
    <h3>Online</h3>
    <div class="fulltext-url">
      <%= url_href_with_url_text_link(value: document[TrlnArgon::Fields::URL_HREF.to_s], document: document) %>
    </div>
  <% end %>
  <% unless document.read_items.key?(nil) %>
    <h3>At the Library</h3>
    <% if context == 'index' %>
      <%= render partial: "items_table_index", locals: { document: document} %>
    <% else %>
      <%= render partial: "items_table_show", locals: { document: document } %>
    <% end %>
  <% end %>
</div>