<h2 class="local-filter-heading"><%= t("trln_argon.local_filter.showing_results") %></h2>
<div class="btn-group" role="group">
  <% query_state = query_state_from_search_state(search_state) %>

  <%= link_to t("trln_argon.local_filter.searching_local", local_institution_name: institution_long_name),
              search_catalog_path(query_state),
              class: "btn btn-sm #{local_search_button_class}",
              role: "button" %>

  <%= link_to t("trln_argon.local_filter.searching_trln"),
              search_trln_path(query_state),
              class: "btn btn-sm #{trln_search_button_class}",
              role: "button" %>
</div>
