<div class="enhanced-data">
  <% s = enhanced_data(@document) %>
  <% summary = ( (s && s.summary? && s.summary) || @document.marc_summary ) %>
  <% toc = ( (s && s.toc? && s.toc ) || @document.marc_toc ) %>
  <% samplechapter = ( s && s.samplechapter? && s.samplechapter ) || nil %>
  <% unless summary.nil? || summary.empty? %>
    <section class="summary">

      <h2>Summary <span class='show-control more'><a href="javascript:void(0);">(show more)</a></span>
      <span class='show-control less'><a href="javascript:void(0);">(show less)</a></span></h2>
      
      <div class="content">
        <%= summary.html_safe %>
      </div>
     
    </section>
  <% end %>
  <% unless toc.nil? || toc.empty? %>
    <section class="table-of-contents">
  	  <h2>Contents <span class='show-control more'><a href="javascript:void(0);">(show more)</a></span>
      <span class='show-control less'><a href="javascript:void(0);">(show less)</a></span></h2>
      
      <div class="content">
  	   <%= toc.html_safe %>
     </div>
  	</section>
  <% end %>
  <% unless samplechapter.nil? || samplechapter.empty? %>
  <section class="sample-chapter">
    <h4>Sample Chapter <span class='show-control more'><a href="javascript:void(0);">(show more)</a></span>
    <span class='show-control less'><a href="javascript:void(0);">(show less)</a></span></h4>
    
    <div class='content'>
      <%= samplechapter.html_safe %>
    </div>
    
  </section>
  <% end %>
</div>