<% related_works_component = TrlnArgon::DocumentMetadataComponent.new(
     fields: show_related_works_presenter(document).field_presenters,
     show: true ) %>

<% if related_works_component.render? %>
  <div id="related-works" class="<%= show_related_works_class %>" aria-labelledby="relatedWorksLabel">
    <h2 id="relatedWorksLabel"><%= t('trln_argon.show.heading.related_works') %></h2>
    <%= render(related_works_component) %>
  </div>
<% end %>
