<% display_values = show_configured_fields_and_values(blacklight_config.show_related_works_fields, document) %>
<div class="<%= show_related_works_class %>">
  <% if display_values.any? %>
    <h2><%= t('trln_argon.show.heading.related_works') %></h2>
      <dl class="dl-invert">
      <% display_values.each do |value| %>
          <dt><%= value[:label] %></dt>
          <%= value[:value] %>
      <% end %>
    </dl>
  <% end %>
</div>
