<% display_values = show_configured_fields_and_values(blacklight_config.show_authors_fields, document) %>
<div class="<%= show_authors_class %>">
  <% if display_values.any? %>
    <h2><%= t('trln_argon.show.heading.authors') %></h2>
    <ul>
      <% display_values.each do |value| %>
          <%= value[:value] %>
      <% end %>
    </ul>
  <% end %>
</div>
