<div class="enhanced-data">
  <% s = enhanced_data(@document) %>
  <% summary = ( (s && s.summary) || @document['note_summary'] ) %>
  <% toc = ( (s && s.toc) || @document['note_toc'] ) %>
  <% unless summary.nil? || summary.empty? %>
    <section class="summary">
      <header>Summary</header>
      <%= summary.html_safe %>
    </section>
  <% end %>
  <% unless toc.nil? || toc.empty? %>
    <section class="table-of-contents">
  	  <header>Contents</header>
  	   <%= toc %>
  	</section>
  <% end %>
</div>