<%-
  # Compare with render_document_functions_partial helper, and
  # _document_functions partial. BL actually has two groups
  # of document-related tools. "document functions" by default
  # contains Bookmark functionality shown on both results and
  # item view. While "document tools" contains external export type
  # functions by default only on detail.

-%>

<div id="document-tools" aria-labelledby="toolsLabel">
  <h2 class="sr-only" id="toolsLabel">Tools</h2>
  <%= render Blacklight::Document::ActionsComponent.new(
        document: @document,
        tag: 'ul',
        classes: "#{controller_name}Tools nav nav-pills",
        wrapping_tag: 'li',
        wrapping_classes: "#{config.name}",
        actions: document_actions(@document),
        link_classes: "btn btn-outline-secondary",
        url_opts: Blacklight::Parameters.sanitize(params.to_unsafe_h)
      ) %>
</div>
