 <div class="enhanced-data">
  	<% enhanced_data(@document) do |s| %>
  	  <% if s.summary? %>
       <section class="summary">
        <header>Summary</header>
  	    <%= s.summary.html_safe %>
      </section>
  	  <% end %>
  	  <% if s.toc? %>
  	  <section class="table-of-contents">
  	  	<header>Contents</header>
  	    <%= s.toc %>
  	  </section>
  	 <% end %>
  	<% end %>
  </div>