<!-- TODO: These will need wiring up. At the moment, they do nothing. -->
<div id="document-tools" class="btn-group" role="group" aria-label="...">
  <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-plane" aria-hidden="true"></span>&nbsp;Request</button>
  <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-phone" aria-hidden="true"></span>&nbsp;Text</button>
  <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>&nbsp;Email</button>
  <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-print" aria-hidden="true"></span>&nbsp;Print</button>
  <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-export" aria-hidden="true"></span>&nbsp;Export to Refworks</button>
  <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>&nbsp;Get Help</button>
</div>