<div id="subjects" class="<%= show_subjects_class %>">
  <% if display_subjects?(document: document) %>
    <h2><%= t('trln_argon.show.heading.subjects') %></h2>
    <ul>
      <% show_configured_fields_and_values(blacklight_config.show_subjects_fields, document).each do |value| %>
          <%= value[:value] %>
      <% end %>
    </ul>
  <% end %>
</div>
