<div class="enhanced-data">
  <% s = enhanced_data(@document) %>
  <% summary = ( (s && s.summary? && s.summary) || @document.marc_summary ) %>
  <% toc = ( (s && s.toc? && s.toc ) || @document.marc_toc ) %>
  <% unless summary.nil? || summary.empty? %>
    <section class="summary">
      <header>Summary</header>
      <%= summary.html_safe %>
    </section>
  <% end %>
  <% unless toc.nil? || toc.empty? %>
    <section class="table-of-contents">
  	  <header>Contents</header>
  	   <%= toc.html_safe %>
  	</section>
  <% end %>
</div>