<% display_values = show_configured_fields_and_values(blacklight_config.show_related_works_fields, document) %>
<div class="show-included-works">
  <% if display_values.any? %>
    <h2><%= t('trln_argon.show.heading.related_works') %></h2>
      <div>
      <% display_values.each do |value| %>
          <h3><%= value[:label] %></h3>
          <ul>
          	<li><%= value[:value] %></li>
          </ul>	
      <% end %>
    </div>
  <% end %>
</div>
