<div class="holdings">
  <h2 class="holdings-header"><%= t('trln_argon.show.heading.holdings') %></h2>
  <%= render partial: "items_section_wrapper", locals: { document: document, context: 'show' } %>
</div>
