<% authors_component = TrlnArgon::DocumentMetadataListComponent.new(
     fields: show_authors_presenter(document).field_presenters,
     show: true) %>

<% if authors_component.render? %>
  <div id="authors" class="<%= show_authors_class %>" aria-labelledby="authorsLabel">
    <h2 id="authorsLabel"><%= t('trln_argon.show.heading.authors') %></h2>
    <%= render(authors_component) %>
  </div>
<% end %>
