<div class="blacklight thumbnail">
  <% cover_image(@document, size: :medium) do |url| %>
  	<img src="<%= url %>" class="coverImage" onerror="this.style.display = 'none';" alt="cover image">
  <% end %>
</div>
