<div id="sortAndPerPage" class="clearfix">
  <% unless @response.empty? %>
    <%= render :partial => "paginate_compact", :object => @response if show_pagination? %>
    <%= render :partial => "local_filter" %>
  <% end %>
  <%= render_results_collection_tools wrapping_class: "search-widgets pull-right" %>
</div>
