<div id="sortAndPerPage" class="clearfix" role="navigation" aria-label="sort and result pages">
  <% unless @response.empty? %>
    <%= render :partial => "paginate_compact", :object => @response if show_pagination? %>
  <% end %>
  <%= render_results_collection_tools wrapping_class: "search-widgets pull-right" %>
</div>
