<% if url_hash[:note].present? %>
  <div class="<%= url_note_wrapper_class %>">
    <dl>
      <dt><span class='url-note-badge badge'><%= t('trln_argon.show.badge.url_note') %></span></dt>
      <dd><span class='url-note'><%= url_hash[:note] %></dd>
    </dl>
  </div>
<% end %>
