<% if current_search_session %>
  <div class="pull-right search-widgets">
  	<%= render(TrlnArgon::StartOverButtonComponent.new(classes: 'catalog_startOverLink btn btn-primary')) %>
    <%= link_back_to_catalog class: 'btn btn-outline-secondary bt-sm' %>
  </div>
<% end %>

<%= render_document_main_content_partial %>
