<% if current_search_session %>
  <div class="float-end search-widgets">
  	<%= render(TrlnArgon::StartOverButtonComponent.new(classes: startover_button_class)) %>
    <%= link_back_to_catalog(class: back_to_search_button_class)%>
  </div>
<% end %>

<%= render 'show_main_content' %>
