---
http_interactions:
- request:
    method: get
    uri: https://query.discovery.trln.org/trlnbib/select?fq=institution_f:unc&rows=0&wt=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "responseHeader":{
            "zkConnected":true,
            "status":0,
            "QTime":170,
            "params":{
              "fq":"institution_f:unc",
              "rows":"0",
              "wt":"json"}},
          "response":{"numFound":7043195,"start":0,"docs":[]
          }}
  recorded_at: Fri, 25 Oct 2019 19:32:04 GMT
recorded_with: VCR 5.0.0
