---
http_interactions:
- request:
    method: get
    uri: https://query.discovery.trln.org/trlnbib/select?f.author_facet_f.facet.limit=11&f.available_f.facet.limit=11&f.date_cataloged_dt.facet.limit=11&f.language_f.facet.limit=11&f.lcc_callnum_classification_f.facet.limit=4501&f.lcc_callnum_classification_f.facet.sort=alpha&f.location_hierarchy_f.facet.limit=-1&f.location_hierarchy_f.facet.sort=count&f.physical_media_f.facet.limit=11&f.resource_type_f.facet.limit=21&f.resource_type_f.facet.offset=980&f.subject_chronological_f.facet.limit=11&f.subject_genre_f.facet.limit=11&f.subject_geographic_f.facet.limit=11&f.subject_topical_f.facet.limit=11&facet=true&facet.field=date_cataloged_dt&facet.query=date_cataloged_dt:%5BNOW-3MONTH/DAY%20TO%20NOW%5D&fq=institution_f:unc&rows=0&sort=score%20desc,%20publication_year_isort%20desc,%20title_sort_ssort_single%20asc&stats=true&stats.field=publication_year_isort&wt=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "responseHeader":{
            "zkConnected":true,
            "status":0,
            "QTime":4097,
            "params":{
              "f.lcc_callnum_classification_f.facet.limit":"4501",
              "facet.field":["access_type_f",
                "available_f",
                "{!ex=rollup}location_hierarchy_f",
                "resource_type_f",
                "lcc_callnum_classification_f",
                "language_f",
                "date_cataloged_dt"],
              "f.available_f.facet.limit":"11",
              "f.date_cataloged_dt.facet.limit":"11",
              "f.location_hierarchy_f.facet.sort":"count",
              "f.subject_chronological_f.facet.limit":"11",
              "f.subject_genre_f.facet.limit":"11",
              "f.resource_type_f.facet.offset":"980",
              "fq":"institution_f:unc",
              "sort":"score desc, publication_year_isort desc, title_sort_ssort_single asc",
              "rows":"0",
              "f.subject_geographic_f.facet.limit":"11",
              "facet.query":["date_cataloged_dt:[NOW-7DAY/DAY TO NOW]",
                "date_cataloged_dt:[NOW-1MONTH/DAY TO NOW]",
                "date_cataloged_dt:[NOW-3MONTH/DAY TO NOW]"],
              "f.language_f.facet.limit":"11",
              "f.location_hierarchy_f.facet.limit":"-1",
              "stats":"true",
              "f.physical_media_f.facet.limit":"11",
              "f.author_facet_f.facet.limit":"11",
              "f.resource_type_f.facet.limit":"21",
              "f.lcc_callnum_classification_f.facet.sort":"alpha",
              "f.subject_topical_f.facet.limit":"11",
              "facet":"true",
              "wt":"json",
              "stats.field":"publication_year_isort"}},
          "response":{"numFound":8048052,"start":0,"numFoundExact":true,"docs":[]
          },
          "facet_counts":{
            "facet_queries":{
              "date_cataloged_dt:[NOW-7DAY/DAY TO NOW]":42976,
              "date_cataloged_dt:[NOW-1MONTH/DAY TO NOW]":63814,
              "date_cataloged_dt:[NOW-3MONTH/DAY TO NOW]":110333},
            "facet_fields":{
              "access_type_f":[
                "At the Library",5056389,
                "Online",3066312],
              "available_f":[
                "Available",7966100],
              "location_hierarchy_f":[
                "unc",5042201,
                "unc:uncdavy",2317112,
                "unc:unclibr",1558167,
                "unc:uncdavy:uncdavdoc",749184,
                "unc:uncwil",467601,
                "law",217064,
                "law:lawuncw",217064,
                "unc:unclawy",217064,
                "unc:uncmusy",203195,
                "unc:uncrarn",197578,
                "unc:uncwil:uncwilrbc",197578,
                "unc:uncnorn",195392,
                "unc:uncwil:uncwilncc[...]
