---
http_interactions:
- request:
    method: get
    uri: https://query.discovery.trln.org/trlnbib/select?f.author_facet_f.facet.limit=11&f.available_f.facet.limit=11&f.date_cataloged_dt.facet.limit=11&f.language_f.facet.limit=11&f.lcc_callnum_classification_f.facet.limit=4501&f.location_hierarchy_f.facet.limit=201&f.location_hierarchy_f.facet.sort=count&f.physical_media_f.facet.limit=11&f.resource_type_f.facet.limit=21&f.resource_type_f.facet.offset=980&f.subject_chronological_f.facet.limit=11&f.subject_genre_f.facet.limit=11&f.subject_geographic_f.facet.limit=11&f.subject_topical_f.facet.limit=11&facet=true&facet.field=date_cataloged_dt&facet.query=date_cataloged_dt:%5BNOW-3MONTH/DAY%20TO%20NOW%5D&fq=institution_f:unc&rows=0&sort=score%20desc,%20publication_year_isort%20desc,%20title_sort_ssort_single%20asc&stats=true&stats.field=publication_year_isort&wt=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "responseHeader":{
            "zkConnected":true,
            "status":0,
            "QTime":3284,
            "params":{
              "f.lcc_callnum_classification_f.facet.limit":"4501",
              "facet.field":["access_type_f",
                "available_f",
                "{!ex=rollup}location_hierarchy_f",
                "resource_type_f",
                "lcc_callnum_classification_f",
                "language_f",
                "date_cataloged_dt"],
              "f.available_f.facet.limit":"11",
              "f.date_cataloged_dt.facet.limit":"11",
              "f.location_hierarchy_f.facet.sort":"count",
              "f.subject_chronological_f.facet.limit":"11",
              "f.subject_genre_f.facet.limit":"11",
              "f.resource_type_f.facet.offset":"980",
              "fq":"institution_f:unc",
              "sort":"score desc, publication_year_isort desc, title_sort_ssort_single asc",
              "rows":"0",
              "f.subject_geographic_f.facet.limit":"11",
              "facet.query":["date_cataloged_dt:[NOW-7DAY/DAY TO NOW]",
                "date_cataloged_dt:[NOW-1MONTH/DAY TO NOW]",
                "date_cataloged_dt:[NOW-3MONTH/DAY TO NOW]"],
              "f.language_f.facet.limit":"11",
              "f.location_hierarchy_f.facet.limit":"201",
              "stats":"true",
              "f.physical_media_f.facet.limit":"11",
              "f.author_facet_f.facet.limit":"11",
              "f.resource_type_f.facet.limit":"21",
              "f.subject_topical_f.facet.limit":"11",
              "facet":"true",
              "wt":"json",
              "stats.field":"publication_year_isort"}},
          "response":{"numFound":7043195,"start":0,"docs":[]
          },
          "facet_counts":{
            "facet_queries":{
              "date_cataloged_dt:[NOW-7DAY/DAY TO NOW]":10697,
              "date_cataloged_dt:[NOW-1MONTH/DAY TO NOW]":36220,
              "date_cataloged_dt:[NOW-3MONTH/DAY TO NOW]":121551},
            "facet_fields":{
              "access_type_f":[
                "At the Library",4982515,
                "Online",2140362],
              "available_f":[
                "Available",6803837],
              "location_hierarchy_f":[
                "unc",4955910,
                "unc:uncdavy",2331395,
                "unc:unclibr",1455110,
                "unc:uncdavy:uncdavdoc",736300,
                "unc:uncwil",451475,
                "law",215772,
                "law:lawuncw",215772,
                "unc:unclawy",215772,
                "unc:uncmusy",200623,
                "unc:uncrarn",191904,
                "unc:uncwil:uncwilrbc",191904,
                "unc:uncnorn",189598,
                "unc:uncwil:uncwilncc[...]
