<!-- Fetch and display publication year range input if configured. -->
<div class="mb-3 row advanced-search-facet">
  <div class="col-sm-6 col-md-3 col-form-label fw-bold">
    <%= @facet_field.label %>
  </div>
  <div class="col-12 col-sm-6 col-md-9 range_limit">
    <label for="range_publication_year_isort_begin" class="visually-hidden">Publication date range (starting year)</label>
    <%= render_range_input(@facet_field.key, :begin) %> –
    <label for="range_publication_year_isort_end" class="visually-hidden">Publication date range (ending year)</label>
    <%= render_range_input(@facet_field.key, :end) %>
  </div>
</div>
