<% if document.all_shared_and_local_fulltext_urls_by_inst.any? %>
  <div class="<%= primary_link_class %>">
    <ul>
      <% document.all_shared_and_local_fulltext_urls_by_inst.each do |inst, urls| %>
        <% next unless urls.present? %>
        <% urls.each do |url| %>
          <li>
            <%= link_to_expanded_fulltext_url(url, inst) %>
          </li>
        <% end %>
      <% end %>
    </ul>
  </div>
<% end %>
