<% document.expanded_documents.each do |doc| %>
<h3><%= t("trln_argon.institution.#{doc.institution}.long_name") %></h3>
  <%= render partial: "items_table", locals: { document: doc, context: 'show' } %>
<% end %>
