<% if url_hash[:note].present? %>
  <div class="<%= url_note_wrapper_class %>">
    <dl class="dl-horizontal">
      <dt><span class='url-note-label label label-info'><%= t('trln_argon.show.label.url_note') %></span></dt>
      <dd><span class='url-note'><%= url_hash[:note] %></dd>
    </dl>
  </div>
<% end %>