h2.query-criteria-heading,
h2.limit-criteria-heading {
  font-size: 24px;
}

h2.query-criteria-heading label {
  font-weight: 500;
}

#advanced_search_facets {
  .col-form-label {
    text-align: left;
  }
}

#advanced_search {
  label {
    font-weight: 700;
  }

  .form-control {
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    color: #555555;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  }
}

.advanced {
  .submit-buttons {
    text-align: right;
  }

  .twitter-typeahead {
    width: 100%;
  }

  @include media-breakpoint-down(sm) {
    .submit-buttons {
      margin-top: 15px;
      text-align: left;
    }
  }
}

.sorting {
  label {
    margin-right: 8px;
    font-weight: 700;
  }
}

.card {
  margin-top: 1rem !important; /* Override with higher value */
  margin-bottom: 1rem !important; /* Override with higher value */
}

.ts-wrapper.multi .ts-control [data-value] {
  background-color: #eeeeee !important;;
  background-image: linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eee 100%) !important;
  text-shadow: none !important; /* Remove text-shadow */
}
