a {
    color: $primary-link-color;
}

a:hover, a:focus {
    color: $primary-link-color;
}

#sort-dropdown, #per_page-dropdown {
    .dropdown-toggle {
        color: $primary-color;
    }
}

.pagination > li > a, .pagination > li > span {
    color: $primary-link-color;
}

.pagination > .active > a, .pagination > .active > a:hover, .pagination > .active > a:focus, .pagination > .active > span, .pagination > .active > span:hover, .pagination > .active > span:focus {
    background-color: $primary-link-color;
    border-color: $primary-color;
}

.btn-primary {
    background-color: $secondary-color;
    border-color: $secondary-color;
}

.panel-default {
    border-color: darken( $facet-grey, 10% );
}

.panel-default > .panel-heading {
    background-color: $facet-grey;
    border-color: darken( $facet-grey, 10% );
}

.panel-default > .panel-heading + .panel-collapse > .panel-body {
    border-top-color: darken( $facet-grey, 10% );
}


panel-success > .panel-heading, .facet_limit-active > .panel-heading {
    color: #fff;
    background-color: $secondary-color;
    border-color: $secondary-color;
}

.facet_limit-active .panel-heading.collapse-toggle .panel-title:after {
    color: #fff;
}

.facet_limit-active .panel-heading {
    a:hover {
        color: #fff;
    }
    a:focus {
        color: #fff;
    }
}

.panel-success, .facet_limit-active {
    border-color: $primary-color;
}


.navbar-form {
    margin-left: 0;
    margin-right: 0;
}


.navbar-inverse {
    background-color: #fff;
    border-color: $primary-color;

    .navbar-nav > li > a, .navbar-inverse .navbar-nav > li > a {
       color: $secondary-color;
       text-transform: uppercase;
    }

    .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
        color: $tertiary-color;
    }
}




body {
  border-top: 7px solid $trln-green; // visual aid for TRLN context
}

.navbar-static-top {
    border-width: 3px 0 0;
}

body.local-filter { // hide visual aid for TRLN context

  border-top: none;

  .navbar-static-top {
      border-width: 10px 0 0;
  }

}

#header-navbar {

    .navbar-brand {
        margin: 8px;
        background: transparent image_url($header-logo) no-repeat top left;
        width: 300px;
        background-size: contain;
        color: #666;
    }

    .navbar-header {

      .navbar-toggle {
        background: $primary-color;
        border: 1px solid $secondary-color;
      }

      .navbar-toggle:hover {
        background: $secondary-color;
      }

    }

}

#user-util-collapse {
  border-color: #ccc;
}

/*.turbolinks-progress-bar {
  height: 5px;
  background-color: $secondary-color;
}*/

.thumbnail {
    border: none;
    float: right;
    margin-left: 1em;
}


#document {

    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    > div:first-of-type {
      overflow: hidden;
    }

    .thumbnail {
        flex-basis: auto;
    }

    dl {
        flex-basis: auto;

    }

    .title-and-thumbnail:after {
      content: "";
      display: table;
      clear: both;
    }

}




.table-responsive {
  border: none !important;
}

div.items table {
    width: 100%;
}

div.items table {

  td {
    white-space: nowrap;
  }

  td.notes {
    white-space: normal;
    line-height: 1.2;
    font-size: .9em;
    padding-top: 0;
    padding-bottom: 1em;
    padding-left: 1.5em !important;
    color: #666;
  }

}

.input-group {
    display: table-row;
}

.input-group-element {
  display: table-cell;
  padding: 0 1em;
  border: none;
}

.input-group-addon.for-search-field {
    border-bottom: 0;
    border-top: 0;
}

#search_field {
    position: relative;
    /*top: -.6em;*/
}



.mast-search {
  width: 100%;
  padding-top: 2em;

  .search-select {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    background: #eee;
    color: #555;
    border-right: none;
  }

  #q {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
  }

  .search_q {
    border: 1px solid #ccc;
    border-radius: 0;
    border-color: #ccc !important; //iOS fix
  }

  .bootstrap-select {
    max-width: 90px;
  }

}



@media screen and (max-width: $screen-xs) {

  .search-extra-controls {
    text-align: center;

    .input-group,
    .input-group-element {
      width: 100%;
      display: block;
    }

  }

}



@media screen and (min-width: $screen-sm) {
  .mast-search .bootstrap-select {
    max-width: unset;
  }
}

@media screen and (min-width: $screen-sm) and (max-width: $screen-md) {

  .twitter-typeahead {
    min-width: 35em;
  }

}


@media screen and (min-width: $screen-md) {

  .twitter-typeahead {
    min-width: 25em;
  }

}

.input-group-element h3 {
    padding-top: -5px;
    margin-top: -5px;
    vertical-align: top;
    line-height: 16px;
  }

.search-extra-controls {
    clear: left;
    margin-top: .5em;
}

.search-extra-controls label {
  font-weight: normal;
}

#search-navbar .search-query-form {
    width: 100%;
    margin-left: 20px;
    margin-right: -20px;
    max-width: calc(100% - 25px);
}

.fulltext-url {
  display: inline-block;
}

.fulltext-url ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.fulltext-url li {
  padding: 5px 0 5px 0;
}

.expander[aria-expanded=false] .hider {
    display: none;
}

.expander[aria-expanded=false] .shower {
    display: inline;
}

.expander[aria-expanded=true] .hider {
    display: inline;
}

.expander[aria-expanded=true] .shower {
    display: none;
}

.item-group {
    display: none;
}

/**
 * Hide/Show large blocks of content, .e.g. Syndetics chapters
 */
.enhanced-data .content {
    overflow: hidden;
    /*text-overflow: ellipsis;*/
}
.enhanced-data .content p {
  margin-bottom: .5em;
}

.enhanced-data section .show-control {
    display: none;
    float: right;
}

.enhanced-data section[aria-expanded=false] .show-control.more {
    display: inline;
}

.enhanced-data section[aria-expanded=true] .show-control.less {
    display: inline;
}

.show-document,
.index-document-metadata {
    ul {
        list-style-type: none;
        padding-left: 0;
    }
    li {
        margin-bottom: 4px;
    }

    .show-subjects ul {
      list-style-type: square;
      padding-left: 2em;
      color: #999;
    }
}

.index-document-metadata {
  margin-bottom: 1.5em;
}

@media screen and (min-width: $screen-sm) {
  .show-document .show-subjects ul {
    /*list-style-type: none;*/
    list-style-type: square;
    column-width: 20em;
    column-gap: 3em;
    column-fill: balance;
    padding-left: 0;
  }
  .show-document .show-subjects ul li {
    padding-bottom: .5em;
    display: inline-block;
    padding-left: 1em;
    width: 100%;
  }
  .show-document .show-subjects ul li::before {
    content: '■';
    margin-left: -1.5em;
    display: block;
    float: left;
    margin-right: .5em;
    font-size: 60%;
    padding-top: .5em;
  }
}

#show-sub-header {
    li {
        font-size: 18px;
    }
}

.imprint-type {
    font-weight: normal;
}

.imprint-label {
    font-style: italic;
}


#footer {
  width: 100%;
  border: 50px solid #666;
  margin-top: 2em;
}


/* masthead styles */

.blacklight-catalog-index #sortAndPerPage .search-widgets .btn-default {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
  color: $secondary-link-color;
}



/* sidebar styles */

.panel-group .panel + .panel {
    margin-top: 15px;
}


  /* Facets */

  #facets ul.facet-hierarchy {
    margin-left: 0;
    padding-left: 10px;
  }

  #facets ul.facet-hierarchy ul {
    padding-left: 15px;
    padding-top: 6px;
    /*display: table;
    width: 100%;*/
  }

  #facets ul.facet-hierarchy ul ul {
    padding-left: 0;
    /*display: table;
    width: 100%;*/
  }

  #facets ul.facet-hierarchy li.h-node {
    padding-bottom: 6px;

    a, .facet-count {
        padding-bottom: 6px;
    }

    .facet-count {
        float: right;
    }

  }

  #facets ul.facet-hierarchy li.h-leaf {
    list-style-image: none;
    list-style: none;
    margin-left: 0;
    overflow: hidden;
    /*display: table-row;*/

    a:not(.remove) {
        /*display: table-cell;*/
        padding-bottom: 6px;
        display: block;
        float: left;
        max-width: 240px;
    }

    .facet-count {
        text-align: right;
        float: right;
        /*display: table-cell;*/
    }

  }


  @media screen and (min-width: $screen-sm) and (max-width: $screen-lg) { // account for 'twiddles' weird behavior

    #facets ul.facet-hierarchy .twiddle > .facet_select {
      display: inline-block;
      width: 120.5px;
      margin-right: 7px;
      float: left;
      text-overflow: ellipsis;
      overflow: hidden;
      height: 1.2em;
      white-space: nowrap;
    }

    #facets ul.facet-hierarchy ul .twiddle > .facet_select {
      width: 105px;
    }

    #facets ul.facet-hierarchy .twiddle > .facet-count {
      width: 43px;
      float: left;
      text-align: right;
      display: block;
    }

    #facets ul.facet-hierarchy .twiddle-open > .facet_select {
      display: auto;
      width: 120.5px;
      margin-right: 7px;
      float: none;
    }

  }


  @media screen and (min-width: $screen-xs) and (max-width: $screen-sm) { // have to manually set widths on children at different breakpoints
    #facets ul.facet-hierarchy li.h-leaf a { max-width: 300px; }
  }

  @media screen and (min-width: $screen-sm) and (max-width: $screen-md) {
    #facets ul.facet-hierarchy li.h-leaf {
      width: 163px;
      a { width: 117px; }
    }
  }

  @media screen and (min-width: $screen-md) and (max-width: $screen-lg) {
    #facets ul.facet-hierarchy li.h-leaf {
      width: 155px;
      a { width: 110px; }
    }
  }

  @media screen and (min-width: $screen-lg) {
    #facets ul.facet-hierarchy li.h-leaf {
      width: 205px;
      a { width: 160px; }
    }
  }


  #facets ul.facet-hierarchy li.h-leaf:only-child {

    display: block;

    a {
        display: inline-block;
        padding-bottom: 6px;
    }

    .facet-count {
        text-align: right;
        float: right;
        display: block;
    }

  }

  #facets .h-node .twiddle {
    margin-left: 0;
  }


  #facets ul.facet-hierarchy li.h-node.twiddle-open {
    border-top: 1px solid #eee;
    padding-top: 6px;
    border-bottom: 1px solid #eee;
    margin-bottom: 6px;
  }

  #facets ul.facet-hierarchy li.h-node.twiddle-open > a {
    font-weight: bold;
  }

  #facets ul.facet-hierarchy li.h-node.twiddle-open > a ~ a {
    font-weight: normal;
  }

  /* END Facets */



.text-success, .facet-values li .selected {
  color: $secondary-color;
}

#trln-toggle .well {
  border-color: rgba( $tertiary-color, .50 );
  background-color: rgba( $tertiary-color, .10 );
}

#viewAllResults {
  text-align: center;

  a {
    display: block;
    padding: 5px;
  }

}

@media screen and (min-width: $screen-sm) {

  #viewAllResults {
    margin-left: 42px;
    text-align: left;
  }

  .trln-results-link::before,
  .institution-results-link::before {
    display: block;
    display: block;
    position: absolute;
    left: 35px;
  }

  .trln-results-link::before {
    content: url($trln-icon);
  }

  .institution-results-link::before {
    content: url($institution-icon);
  }

}






/* Typography */

#documents .document h3.document-title-heading {
  font-size: 1.4em;
  font-weight: 400;

  .document-counter {
    color: #707070;
  }

}

#document {

  h2 {
    color: #555;
    font-size: 1.8em;
    font-weight: 400;
    margin-top: 2em;
    padding-bottom: .15em;
    border-bottom: 2px solid #eee;
  }

  @media screen and (min-width: $screen-sm) {
    .holdings h2 {
      margin-top: 0;
    }
  }

  h3 {
    color: #444;
    font-size: 1.3em;
    font-weight: 500;
    margin-top: 1.5em;
  }

  h3:first-of-type {
    margin-top: .75em;
  }

}

#document,
#documents {
  div.items h3,
  div.availability h3 {
    /*font-size: 14px;
    font-weight: bolder;*/
    font-size: 1.2em;
    font-weight: 500;
    margin-top: 0;
  }
}


/* results styles */

#content .page-header {
  margin-left: 1em;
}


#documents .document {
  padding-top: 1em;
  padding-bottom: 3em;
}

.index-document-functions {
  text-align: right;
}

.index-document-metadata ul {
  margin-left: 1em;
}

h3.online-header {
  font-weight: 500 !important;
}

.items h3 .fa {
  font-size: 150%;
  margin-left: 3px;
}

.items h3 .fa-map-marker {
  color: #dc5241;
}

.items h3 .fa-laptop {
  color: #888;
}


.items,
.availability {
  padding: 10px;
  border-left: 5px solid $facet-grey;
  background: lighten($facet-grey, 2.75%);
}

@media screen and (min-width: $screen-sm) {

  .items,
  .availability {
    margin-left: 1em;
    margin-right: 1em;
    padding: 15px;
  }

}

#document .items,
#document .availability {
  margin-left: 0;
  margin-right: 0;
  margin-top: 1em;
}

.items table,
.availability table {
  margin-bottom: 0;
  padding-bottom: 20px;
}

.items .table > thead > tr > th,
.table > thead > tr > td,
.table > tbody > tr > th,
.table > tbody > tr > td,
.table > tfoot > tr > th,
.table > tfoot > tr > td,
.table > tbody + tbody {
    border-top: none; /* clear out blacklight defaults */
}

.table-condensed > thead > tr > th:first-of-type,
.table-condensed > thead > tr > td:first-of-type,
.table-condensed > tbody > tr > th:first-of-type,
.table-condensed > tbody > tr > td:first-of-type,
.table-condensed > tfoot > tr > th:first-of-type,
.table-condensed > tfoot > tr > td:first-of-type {
    padding-left: 0;
}

.items .table tbody,
.items .table > tbody + tbody {
  border-top: 1em solid lighten( $facet-grey, 2.75% );
}

.items .table tbody:nth-of-type(1),
.items .table tbody.item-group-display {
  border-top: none;
}

.items th {
  font-weight: 500;
  border-bottom: 1px solid #f0f0f0;
  text-transform: uppercase;
  color: #666;
}

.items .loc-narrow-banner th {
  text-transform: none;
}

.institution-availability {
  width: 100%;

  td {
    white-space: nowrap;
  }

  td:first-of-type {
    width: 20%;
  }

  td:last-of-type {
    width: 50%;
  }

  .available {
    text-align: center;
    min-width: 125px;
  }

}

#documents .items .table td:first-of-type,
#document .items .table td:first-of-type {
  width: 30%;
}


.items .table td:last-of-type {
  width: 30%;
}


.items .table .callnumber {
  text-align: center;
}

.items .table .status {
  text-align: left;
}

.items .item-note {
  font-style: italic;
}


.link-type-fulltext {
  color: $secondary-link-color;
}

.item-details-link a {
  color: #157d1e;
}

.item-available {
  color: $available-color;
}

.item-not-available {
  color: $not-available-color;
}

.item-library-only {
  color: $alt-available-color;
}

.blacklight.thumbnail {
  margin-bottom: 0;
  padding: 0;
}

.thumbnail img {
  padding: 10px;
  border: 1px solid #ddd !important;
  border-radius: 0;
  margin: 5px 0 0 0;
}



.item-group-display .fa,
.fulltext-url .fa,
.item-group .item .fa,
.institution .fa {
  vertical-align: middle;
  font-size: 35%;
  line-height: 2em;
  margin-left: 1em;
  margin-right: 1em;
  color: #999;
}

.urls ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.urls .fa {
  color: #888;
  font-size: 125%;
}

/* show styles */

#document-tools .btn-default {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
  color: $secondary-link-color;
}

#document-tools li.bookmark {
  display: block;
  float: right;
  margin-top: 5px;
  margin-right: 15px;
  margin-bottom: 15px;
}

#show-sub-header {
  margin-top: 2em;
}


.dl-invert {
  dt {
    font-size: 1.2em;
    margin-top: 1em;
    color: #757575;
  }
  dt:first-of-type {
    margin-top: 0;
  }
  dd {
    margin-left: 1em;
  }
}

.contracted {
  position: relative;
  height: 6em !important;
}
.contracted:after {
  content: "";
  text-align: right;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 70%;
  height: 1.5em;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 50%);
}

div.marc-record {
  text-align: right;
}



/* AxS Tweaks */

.pagination > .disabled > span, .pagination > .disabled > span:hover, .pagination > .disabled > span:focus, .pagination > .disabled > a, .pagination > .disabled > a:hover, .pagination > .disabled > a:focus {
  color: #686868;
}
