a {
    color: $green;
}

a:hover, a:focus {
    color: $green;
}

#sort-dropdown, #per_page-dropdown {
    .dropdown-toggle {
        color: $green;
    }
}

.pagination > li > a, .pagination > li > span {
    color: $green;
}

.pagination > .active > a, .pagination > .active > a:hover, .pagination > .active > a:focus, .pagination > .active > span, .pagination > .active > span:hover, .pagination > .active > span:focus {
    background-color: $green;
    border-color: $green;
}

.btn-primary {
    background-color: $green;
    border-color: $green;
}

panel-success > .panel-heading, .facet_limit-active > .panel-heading {
    color: #fff;
    background-color: $green;
    border-color: $green;
}

.facet_limit-active .panel-heading.collapse-toggle .panel-title:after {
    color: #fff;
}

.facet_limit-active .panel-heading { 
    a:hover {
        color: #fff;
    }
    a:focus {
        color: #fff;
    }
}

.panel-success, .facet_limit-active {
    border-color: $green;
}

.navbar-inverse {
    background-color: #fff;
    border-color: $green;

    .navbar-nav > li > a, .navbar-inverse .navbar-nav > li > a {
       color: $purple-dark;
       text-transform: uppercase;
    }

    .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
        color: $purple-light;
    }
}

.navbar-static-top {
    border-width: 10px 0 0;
}

#header-navbar {

    .navbar-brand {
        margin-top: 2px;
        background: transparent image_url($header-logo) no-repeat top left;
        background-size: 103px;
    }
}

.turbolinks-progress-bar {
  height: 5px;
  background-color: $orange;
}

.thumbnail {
    border: none;
    float: right;
}


#document {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

#document .thumbnail {
    flex-basis: auto;
}

#document dl {
    flex-basis: auto;
}

.enhanced-data section  header {
    font-size: 125%;
    font-weight: bold;
}

div.items table {
    width: 100%;
}

div.items h3 {
    font-size: 14px;
    font-weight: bolder;
}

.input-group {
    display: table-row;
}

.input-group-element {
  display: table-cell;
  padding: 0 1em;
  border: none;
}

.input-group-addon.for-search-field {
    border-bottom: 0;
    border-top: 0;   
}

#search_field {
    position: relative;
    top: -.6em;
}

.input-group-element h3 {
    padding-top: -5px;
    margin-top: -5px;
    vertical-align: top;
    line-height: 16px;
  }

.search-extra-controls {
    clear: left;
}

#search-navbar .search-query-form {
    width: 100%;
}


.fulltext-url {
    border: 2px solid #ddd;
    border-radius: 2px;
    padding: 4px;
    width: 50%;
}

.expander[aria-expanded=false] .hider {
    display: none;
}

.expander[aria-expanded=false] .shower {
    display: inline;
}

.expander[aria-expanded=true] .hider {
    display: inline;
}

.expander[aria-expanded=true] .shower {
    display: none;
}

.item-group {
    display: none;
}