/* Master stylesheet file for the engine.
 * local app can require this one file and get all the required files.
*/
@import 'trln_argon/trln_argon_variables_defaults';

/* trln_argon dependences: blacklight_advanced_search, blacklight_range_limit, etc. */
@import 'trln_argon/trln_argon_dependencies';

/* additional trln_argon stylesheets */
@import 'trln_argon/trln_argon_shared';
@import 'trln_argon/trln_argon_print'; /* print styles need to come last */
