// IMPORTANT! -- Be sure to add '!default' to any variables set here so they
// can be overridden in the local application.

// Branding Images

$trln-logo: 'trln_argon/trln_logo.png' !default;
$trln-icon: 'trln_argon/trln_icon.png' !default;
$trln-icon-inverted: 'trln_argon/trln_icon_inverted.png' !default;
$institution-logo: 'branding/UniversityLibraries_logo_blue_h.png' !default;
$institution-icon: 'branding/unc_icon.png' !default;
$institution-icon-inverted: 'branding/unc_icon_inverted.png' !default;


// Note: it is important to make sure that $primary-color and $primary-link-color
// maintain adequate contrast ratio (> 4.5:1 on white background) for AxS purposes !

$primary-color: #4b7ca9 !default; // this is 'UNC Blue'
$secondary-color: #2e4972 !default; // this should be a darker hue than primary
$tertiary-color: #5099b4 !default; // this should be a lighter hue than primary

$primary-link-color: darken( $primary-color, 5% ) !default;
$secondary-link-color: darken( $primary-color, 15% ) !default;

$facet-grey: #f5f5f5 !default; // use in facets and results lists

$available-color: #157d1e !default; // default is green
$not-available-color: #b11f1f !default; // default is red
$alt-available-color: #7d6816 !default; // default is brown


// Institution Colors:

$duke-blue: #003366 !default;
$nccu-red: #8c2332 !default;
$ncsu-red: #990000 !default;
$trln-green: #209d8b !default;
$trln-purple: #490e6f !default;
$unc-blue: #467aaa !default;




//== Media query breakpoints (from bootstrap v3)

// Extra small screen / phone
$screen-xs:                  480px !default;
$screen-xs-min:              $screen-xs !default;
$screen-phone:               $screen-xs-min !default;

// Small screen / tablet
$screen-sm:                  768px !default;
$screen-sm-min:              $screen-sm !default;
$screen-tablet:              $screen-sm-min !default;

// Medium screen / desktop
$screen-md:                  992px !default;
$screen-md-min:              $screen-md !default;
$screen-desktop:             $screen-md-min !default;

// Large screen / wide desktop
$screen-lg:                  1200px !default;
$screen-lg-min:              $screen-lg !default;
$screen-lg-desktop:          $screen-lg-min !default;

// So media queries don't overlap when required, provide a maximum
$screen-xs-max:              ($screen-sm-min - 1) !default;
$screen-sm-max:              ($screen-md-min - 1) !default;
$screen-md-max:              ($screen-lg-min - 1) !default;
